/*This layout is mobile first*/
body {
  height: 100%;
  width: 100%;
}


/*--------Recipes display - mobile first-------------*/
.recipes, .list {
  display: flex;
  flex-direction: column; /* to center in column, use align items, in row, use justify content*/
  justify-content: space-around;
  align-items: center;
}
.recipes {
  height:auto;
  border: 2px solid black;
}
.recipe {
  height: auto;
  width: 250px;
  border: solid 1px blue;
  margin: 10px;
  cursor:pointer;
}

.selected {
  background-color: yellow;
}
h2, .ingredients > p {
  text-align: center;
}
.ingredients > p {
  margin: 2px;
}

img, button {
  width:100%;
}
.time_categories {
  display:flex;
  align-items: center;
}
.time, .categories {
  width: 50%;
  text-align: center;
}
.collapsed > .description, .collapsed > .recipe_ingredients {
  display: none;
}

/*---------Shopping list display - mobile first-----------*/
.list {
  margin:auto;
  height:auto;
  width: 250px;
  border: 2px solid orange;
}
.shopping_ingredients, .choosenRecs {
  display:flex;
  flex-direction: column;
  align-items:center;
  width:100%;
}
.recipe_name, .ingredient_name {
  width: 70%;
  border: 1px pink solid;
}
.delete_icon, .ingredient_quantity {
  width: 25%;
  border: 1px pink solid;
}
.ingredients_row, .selectedRec_row {
  display:flex;
  width:90%;
  justify-content: space-around;
  margin:5px;
}


/*------------One recipe per line and shopping list as sidebar----------------*/
@media only screen and (max-width: 1120px) and (min-width: 800px)  {
  body {
    border:3px solid purple;
  }
  .recipes {
    display:inline-block;
    margin-left: 20%;
  }
  .list {
    position:fixed;
    display:inline-block;
    margin-left: 10%;
  }
  .list > h1 {
    text-align: center;
  }
}

/*-------------Multiple recipes per line + shopping list as sidebar-----------*/
@media only screen and (min-width: 1121px) {
  .recipes {
    flex-direction: row;
    display:inline-flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width: 70%;
  }
  .list {
    display:inline-block;
    position:fixed;
    width: 20%;
    min-width:200px;
    height:700px;
  }

  .expanded {
    width:100%;
  }
  .expanded > .recImg, .expanded > .time_categories {
    width:35%;
  }
  .expanded > h2 {
    width:65%;
    float:right;
  }
  .expanded > .description {
    width:60%;
    margin-top: -180px; /*not perfect but ok for the layout*/
    float:right;
  }
  .expanded > .recipe_ingredients {
    clear:both;
  }
  .expanded > .collapse {
    margin:auto;
    width: 55%;
  }
  .expanded p {
    /*text-align: center;*/
    display:inline-block;
  }
  /*Not perfect but make the expanded recipe go first. test of the rearrange all divs properly later*/
  #recipe1.collapsed {order:1;}
  #recipe2.collapsed {order:2;}
  #recipe3.collapsed {order:3;}
  #recipe4.collapsed {order:4;}
  #recipe5.collapsed {order:5;}
  #recipe6.collapsed {order:6;}
  #recipe7.collapsed {order:7;}
